<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs',{ title: 'About' }) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs',{ path: '/about',username: username }) %>
    <h1>About</h1>
  </body>
</html>
