<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs',{ title: 'Home' }) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs',{ path: '/', username: username }) %>
    <div class="container">
      <div class="row">
        <% for( let postIdx = 0; postIdx < posts.length; postIdx++ ) { %> <%-
        include('../partials/postItem.ejs',{ post: posts[postIdx]}) %> <% } %>
      </div>
    </div>
  </body>
</html>
