<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs',{ title: 'Home' }) %>
  </head>
  <body>
    <%- include('../partials/nav.ejs',{ path: '/', username: username}) %>
  </body>
</html>
